#container {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  border: 2px solid red;
  border-radius: 22px;
  overflow: hidden;
}

#game {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

#btns {
  display: flex;
  background-color: skyblue;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 25px;
  height: 100px;
}

.choice {
  width: 100px;
  height: 80px;
  font-size: 12px;
  font-weight: bold;
}

#msg-container {
  display: flex;
  width: 600px;
  height: 200px;
  background-color: blue;
  color: white;
  border: 20px solid black;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

#msg {
  font-size: 2rem;
  flex-wrap: 1;
}

.counter {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 200px;
  background-color: grey;
  color: white;
  border: 2px solid red;
  border-radius: 10px;
  font-size: 100px;
  text-align: center;
  justify-content: center;
  overflow: hidden;
  flex-wrap: 1;
  flex-shrink: 1;
}

.label {
  font-size: 2rem;
}
